{% extends 'datastory/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
    <h2>About DSTL</h2>
    <h3>The DSTL Project is</h3>
            <ul>
        <li><b>Building </b>a data storytelling toolkit</li>
        <li><b>Supporting </b>public and community college libraries</li>
        <li><b>Using </b>data libraries are already collecting</li>
        <li><b>Creating </b>data visualizations and strong story structures</li>
        <li><b>Advocating </b>for libraries with data storytelling</li>
            </ul>
    </div>
  </div>
{% endblock %}
