{% extends 'datastory/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
        <b>The <span style="color: #f58634">DSTL Project</span> aims to develop toolkits that are tailored for librarians' data and story needs:</b>
            <ul>
        <li><b>Building </b>a data storytelling toolkit</li>
        <li><b>Supporting </b>public and community college libraries</li>
        <li><b>Using </b>data libraries are already collecting</li>
        <li><b>Creating </b>data visualizations and strong story structures</li>
        <li><b>Advocating </b>for libraries with data storytelling</li>
            </ul>
    </div>
  </div>
{% endblock %}
